body {
	background: #F0F8FE;
    font-family: arial;
}

#latestLog {
	height: 100%;
}

#header {
	padding: 20px 20px 35px;
	text-align: center;
}

#moreLogPrev {
	float: left;
}

#logOfDate {
	
}

#moreLogNext {
	float: right;
}

.logText {
	line-height: 120%;
}

.logText:hover {
	font-weight: bold;
}

.loader {
    background-color: white;
    background-image: url("loader.gif");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}